
<div style="margin: 30px 30px 30px 620px"> 
<form style="display: flex; flex-direction: column;" [formGroup]="form"> 
    <p> Name</p>
    <input type="text" class="form-input" formControlName="name"> 
     <p> Email</p>
    <input type="text" class="form-input" formControlName="email">
     <p> Website</p>
    <input type="text" class="form-input" formControlName="website">
     <p> Company</p>
    <input type="text" class="form-input" formControlName="companyName">
    <button style="width: 100px; margin-top: 20px;" (click)="onCreateUser()" [disabled]="form.invalid">
        Create user
    </button>

</form>

</div>