.main-header{
    height: 80px;
    background-color: #4B565E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    
}
.main-header-left{
    display: flex;
    color: #F9FAFB;
    margin: 0 20px;
    align-items: center;
    font-family: inter;
  
    

}

.main-header-right{
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: #F9FAFB;
    font-family: inter;
}
.korzina{
    padding-left: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    width: 88px;
    height: 48px;
    font-family: inter;
    
}

.bar-menu{
    height: 48px;
    background-color: #F0BA4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    font-family: inter;
}

.bar-left{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: inter;
}
.imgBar{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.bar-right{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    color: #FFFFFF;
    font-family: inter;
}
.inp{
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    width: 300px;
    align-items: center;
    background: url(/assets/Search.svg) no-repeat center right;
    
}
.information-of-site{
display: flex;

align-items:center;    
padding: 0 100px;
    
}
.car.icon{
    display: flex;
    align-items:center;    
}
.commend-icon-container{
    display: flex;
    align-items: center;
}

.blocks-of-information{
    display: flex;
    padding: 0 20px;
}
.commend-description{
    color: gray;
}
.item-cards__pagination{
    display: flex;
    justify-content: end;
    &-button{
        background: none;
    border: none;
    color: #A1A0A0;
    font-family: inter;

    &:first-child{
        color: #F0BA4E;
    font-weight: 600;
        }

    }
}

.item-cards__grid{
    display: flex;

    padding: 50px;

}

.item-cards__grid-left {
    height: 428px;
    width: 621px;
    max-height: 608px;
    max-width: 699px;
    background-image: url('/assets/card1.png');
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    margin-left: 120px;
    margin-top: 30px;
    background-position: bottom;
    background-position-x: left;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

}
.content-container{
    max-width: 1320px;
    margin: 0 auto;
}


.item-card__grid-left-text{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.item-card__grid-left-text-action{
    display: flex;
    justify-content: end;
    align-items: center;
  
}
.imago{
    margin: 5px;
}
.imago1{
    margin-left: 20px;
}
.item-card__grid-right1{
    display: flex;
    width: 421px;
    height: 200px;
    min-width: 421px;
    min-height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-image: url("/assets/emali.svg");
    margin: 20px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    


}

.item-card__grid-right1-text-action{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 5px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.item-card__grid-right1-text{
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 33.89px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


    
}
.item-card__grid-right2{
    display: flex;
    width: 421px;
    height: 200px;
    min-width: 421px;
    min-height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-image: url("/assets/kley.png");
    margin: 20px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    background-position: 150px 0px;


}

.item-card__grid-right2-text-action{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 15px;

}
.item-card__grid-right2-text{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    

    
}
.item-card__grid-right3{
    display: flex;
    width: 421px;
    height: 200px;
    min-width: 421px;
    min-height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-image: url("/assets/shoEto.png");
    margin: 10px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    background-position: 200px 70px;


}

.item-card__grid-right3-text-action{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 5px;
margin-bottom: 30px;
margin-top: 100px;
}

.item-card__grid-right3-text{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 15px;

}

.item-card__grid-right4{
    display: flex;
    width: 421px;
    height: 200px;
    min-width: 421px;
    min-height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-image: url("/assets/rozetka.png");
    margin: 10px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    background-position: 0px 70px;
}

.item-card__grid-right4-text{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 15px;
    margin-top: 25px;

}
.item-card__grid-right4-text-action{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 5px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 80px;
margin-right: 20px;
}