<div class="main-header"> 
    <div class="main-header-left"> 
        <img src="/assets/Frame.svg" class="header-left">
    <nav class='main-header-left'>
        <div class="main-header-left"> Главная</div>
        <div class="main-header-left"> О компании</div>
        <div class="main-header-left"> Каталог </div>
    </nav>
    </div>    
    <div class="main-header-right"> 
        <div class="main-header-right">
          <img src="/assets/Phone.svg">   +7 (965) 184-29-29</div>
        <div class="main-header-right"> <img src="/assets/Heart.svg"> </div>
        <div class="main-header-right" class="korzina"> <img src="/assets/Korzina.svg">Пусто</div>
    </div>
</div>

<div class="bar-menu">
    <div class="bar-left"> 
        <div class="bar-left" class="imgBar"> <img src="/assets/threeList.svg"> <div class="imgBar"> Каталог</div> </div>
        <div class="bar-left"> Стройматериалы </div>
        <div class="bar-left"> Инструменты</div>
        <div class="bar-left"> Электрика</div>
        <div class="bar-left"> Интерьер и одежда</div>
    </div> 

    <div class="bar-right"> 
        <div class="bar-right"> <input placeholder=" Поиск, например Круг зачистной" class="inp">  </div>
        <div class="bar-right"><img src="/assets/map.svg" width="13px"> Москва  </div>
    
    
    </div>

</div>
