<div class="header">
    <div class="header-left">
        <div class="header-logo">
          <img src="/assets/frame.svg" alt="logo">
        </div>
          <nav class="header-nav">
            <div class="header-nav-item" routerLink="/main">{{headerItem1}}</div>
            <div class="header-nav-item" >{{headerItem2}}</div>
            <div class="header-nav-item" *ngIf="isShowCatalog" routerLink="/users">{{headerItem3}}</div>
          </nav>
         <button (click)="isShowCatalog = !isShowCatalog"> Скрыть/Показать каталог</button>
         <button (click)="isUpperCase = !isUpperCase"> Увеличить/понизить текст </button>  
      </div>
      <div class="header-right">
        <div class="header-phone">
          <button style="background: none; border: none; padding: 0; cursor: pointer;">
            <img src="/assets/phone.svg" alt="иконка телефона">
          </button>
        </div>
          <div>
            <button id="textButton">
              +7 (965) 084-29-29
          </button>
          </div>
          
          <div>
            <img src="/assets/Heart.svg" alt="сердечко">
          </div>
          <div>
            <button class="bin">
              <img src="/assets/Buying.svg" alt="корзина">
              Пусто
            </button>
          </div>
      </div>
  </div> 
  
  <div class="bar">
    <div class="bar-left">
        <div class="bar-logo">
          <img src="/assets/menu.svg" alt="catalogue icon">
        </div>
        <nav class="bar-nav">
          <div class="bar-nav-item" *ngFor="let items of menuItems"> {{items}} </div>
        </nav>
    </div>
    <div class="bar-right">
      <input type="text" class="input-with-icon" placeholder="Поиск, например Круг зачистной">
      <img src="/assets/pin.svg" alt="map-pin">
      <div class="location">Москва</div>
      </div>
    </div>
    <router-outlet> </router-outlet>
    

<router-outlet> </router-outlet>