<div class="content-container1"> 
<div class="main-header"> 
    <div class="main-header-left"> 
        <img src="/assets/Frame.svg" class="header-left">
    <nav class='main-header-left'>
        <div class="main-header-left"> Главная</div>
        <div class="main-header-left"> О компании</div>
        <div class="main-header-left"> Каталог </div>
    </nav>
    </div>    
    <div class="main-header-right"> 
        <div class="main-header-right">
          <img src="/assets/Phone.svg">   +7 (965) 184-29-29</div>
        <div class="main-header-right"> <img src="/assets/Heart.svg"> </div>
        <div class="main-header-right" class="korzina"> <img src="/assets/Korzina.svg">Пусто</div>
    </div>
</div>
<div class="bar-menu">
    <div class="bar-left"> 
        <div class="bar-left" class="imgBar"> <img src="/assets/threeList.svg"> <div class="imgBar"> Каталог</div> </div>
        <div class="bar-left"> Стройматериалы </div>
        <div class="bar-left"> Инструменты</div>
        <div class="bar-left"> Электрика</div>
        <div class="bar-left"> Интерьер и одежда</div>
    </div> 

    <div class="bar-right"> 
        <div class="bar-right"> <input placeholder=" Поиск, например Круг зачистной" class="inp">  </div>
        <div class="bar-right"><img src="/assets/map.svg" width="14px"> Москва  </div>
    
    
    </div>

</div>
<div> <img src='assets/Bro.svg' width="100%"> </div>
</div>




<div class="content-container"> 

    <div class="information-of-site">
        <div class="blocks-of-information"> 
         <img src="/assets/kirpici.svg" class="information-of-site-icon"> 
             <div class="information-of-site-content">
             <div class="information-of-site-title">Большой ассортимент</div>
             <div class="commend-description">
                 строительных материалов всегда в наличии
             </div>
         </div>
         </div>
          <div class="blocks-of-information"> 
         <img src="/assets/car.svg" class="car.icon">
         <div> 
         <div> Доставка стройматериалов </div>
         <div class="commend-description"> в течении четырех часов или в любое удобное время</div>
         </div>
         </div>
         <div class="blocks-of-information"> 
         <div class="commend-icon-container">
             <img src="/assets/commend.svg" class="commend-icon" alt="Иконка">
             <div class="commend-text">
                 <div class="commend-title">Многоуровневая система</div>
                 <div class="commend-description">управления качеством по стандарту ISO 9001</div>
             </div>
             </div>
         </div>
 
         </div>
     
       
 <div class="item-cards"> 
     <div class="item-cards__pagination">
         <button class="item-cards__pagination-button">1</button>
         <button class="item-cards__pagination-button">2</button>
         <button class="item-cards__pagination-button">3</button>
         <button class="item-cards__pagination-button">4</button>
         <button class="item-cards__pagination-button">5</button> 
     </div>
 
         <div class="item-cards__grid"> 
             <div class="item-cards__grid-left">
               <div class="item-card__grid-left-text"> Строительный отделочный инструмент </div>
               <div class="item-card__grid-left-text-action"> Перейти в каталог   <img src="/assets/strelka.png" class="imago"> </div> 
             </div>

             <div class="item-cards__grid-right">
                <div class="item-card__grid-right1">
                    <div class="item-card__grid-right1-text"> Эмали</div>
                    <div class="item-card__grid-right1-text-action"> Перейти в каталог <img src="/assets/strelka.png" class="imago"></div>
                </div>

                <div class="item-card__grid-right2">
                    <div class="item-card__grid-right2-text"> Пены, клеи и герметики</div>
                    <div class="item-card__grid-right2-text-action"> Перейти в каталог <img src="/assets/strelka.png" class="imago"></div>
                </div>
            </div>
            
             <div class="item-card__grid-right3">
                <div class="item-card__grid-right33"> 
                    <div class="item-card__grid-right3-text"> Лакокрасочные материалы </div>
                    <div class="item-card__grid-right3-text-action"> Перейти в каталог <img src="/assets/strelka.png" class="imago"> </div>
                
                </div>
                <div class="item-card__grid-right4">
                    <div class="item-card__grid-right44">
                        <div class="item-card__grid-right4-text"> Розетки и выключатели</div>
                        <div class="item-card__grid-right4-text-action"> Перейти в каталог <img src="/assets/strelka.png"></div>
                    </div>
                </div>
       
 

</div>
</div>
</div>
</div>
